#container {
    position: fixed;
    height: 100%;
    width: 400%;
    top: 0;
    left: 0;
}
.container_state {
    position: absolute;
    top: 0;
    width: 25%;
    height: 100%;
}
#container_splash {
    left: 0%;
}
#container_menu {
    left: 25%;
}
#container_splash_title {
    position: absolute;
    width: 600px;
    height: 150px;
    top: Calc(50% - 75px);
    left: Calc(50% - 300px);
    user-select: none;
    -webkit-user-select: none;
}
#container_splash_title_text {
    position: absolute;
    top: 0;
    left: 150px;
}
#container_menu_container {
    position: absolute;
    top: Calc(50% - 150px);
    left: Calc(50% - 150px);
    width: 300px;
    height: 300px;
    text-align: center;
}
#container_menu_title {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 40px;
    line-height: 40px;
}
#container_menu_list_elements {
    position: absolute;
    top: 40px;
    left: 0;
    width: 300px;
    height: 260px;
    line-height: 65px;
}
.container_menu_list_element {
    border-top: black 1px solid;
}
#container_menu_elements {
    position: absolute;
    left: 50%;
    top: 0px;
    width: 25%;
    height: 100%;
}
.container_menu_element {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}
.menu_header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: grey 1px solid;
}
.menu_header_back {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: inherit;
    border-right: grey 1px solid;
}
.menu_header_title {
    position: absolute;
    top: 0;
    left: 40px;
    width: Calc(100% - 80px);
    height: inherit;
}
.menu_header_refresh {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: inherit;
    border-left: grey 1px solid;
}
.menu_sidebar {
    position: absolute;
    top: 40px;
    left: 0;
    width: 250px;
    height: Calc(100% - 40px);
    border-right: grey 1px solid;
}
.menu_sidebar_list {
    position: relative;
    display: flex;
    left: 0;
    width: 100%;
    height: 33.3333%;
    border-bottom: grey 1px solid;
}
.menu_sidebar_list_title {
    position: absolute;
    left: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-bottom: grey 1px solid;
}
.menu_sidebar_list_contents {
    position: absolute;
    left: 0;
    top: 30px;
    width: 100%;
    height: Calc(100% - 30px);
    overflow-y: scroll;
}
.menu_sidebar_list_element {
    position: relative;
    display: flex;
    width: 100%;
    height: 35px;
    border-bottom: grey 1px solid;
}
.menu_sidebar_list_element_name {
    position: absolute;
    left: 35px;
    width: Calc(100% - 35px);
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-left: grey 1px solid;
}