@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(/raleway) format('truetype');
}
* {
    font-family: 'Raleway';
}
label {
    -webkit-appearance: none;
    display: none;
}
textarea:focus, input:focus{
    outline: 0;
}
#container {
    position: fixed;
    height: 100%;
    width: 400%;
    top: 0;
    left: 0;
}
.container_state {
    position: absolute;
    top: 0;
    width: 25%;
    height: 100%;
}
#container_splash {
    left: 0%;
}
#container_menu {
    left: 25%;
}
#container_splash_title {
    position: absolute;
    width: 600px;
    height: 150px;
    top: Calc(50% - 75px);
    left: Calc(50% - 300px);
    user-select: none;
    -webkit-user-select: none;
}
#container_splash_title_text {
    position: absolute;
    top: 0;
    left: 150px;
}
#container_menu_container {
    position: absolute;
    top: Calc(50% - 150px);
    left: Calc(50% - 150px);
    width: 300px;
    height: 300px;
    text-align: center;
}
#container_menu_title {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 40px;
    line-height: 40px;
    border-bottom: grey 1px solid;
    border-top: grey 1px solid;
}
#container_menu_list_elements {
    position: absolute;
    top: 40px;
    left: 0;
    width: 300px;
    height: 260px;
    line-height: 52px;
}
.container_menu_list_element {
    border-bottom: grey 1px solid;
}
#container_menu_elements {
    position: absolute;
    left: 50%;
    top: 0px;
    width: 25%;
    height: 100%;
}
.container_menu_element {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.menu_header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: grey 1px solid;
}
.menu_header_back {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: inherit;
    line-height: 40px;
    font-size: 15px;
    text-align: center;
}
.menu_header_title {
    position: absolute;
    top: 0;
    left: 40px;
    width: Calc(100% - 80px);
    height: inherit;
}
.menu_header_status {
    position: absolute;
    top: 0;
    right: 0;
    width: 160px;
    padding-right: 13px;
    height: inherit;
    line-height: 40px;
    font-size: 15px;
    text-align: right;
    color: #E74C3C;
}
.menu_sidebar {
    position: absolute;
    top: 40px;
    left: 0;
    width: 250px;
    height: Calc(100% - 40px);
    border-right: grey 1px solid;
    overflow-y: none;
}
.menu_sidebar::-webkit-scrollbar {
    display: none;
}
.menu_sidebar_list {
    position: relative;
    left: 0;
    width: 100%;
    height: 33.3333%;
    border-bottom: grey 1px solid;
}
.menu_sidebar_list_title {
    position: absolute;
    left: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-bottom: grey 1px solid;
    /*background-color: #e3e3e3;*/
}
.menu_sidebar_list_title_addbutton {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: grey;
}
.menu_sidebar_list_contents::-webkit-scrollbar {
    display: none;
}
.menu_sidebar_list_contents {
    position: absolute;
    left: 0;
    top: 30px;
    width: 100%;
    height: Calc(100% - 30px);
    overflow-y: scroll;
}
.menu_sidebar_list_element {
    position: relative;
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 15px;
}
.menu_sidebar_list_element_name {
    position: absolute;
    left: 35px;
    width: Calc(100% - 35px);
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-left: grey 1px solid;
}
.menu_contents {
    position: absolute;
    top: 40px;
    left: 250px;
    width: Calc(100% - 250px);
    height: Calc(100% - 40px);
    overflow-y: scroll;
}
.menu_contents::-webkit-scrollbar {
    display: none;
}
.menu_contents_lineElement {
    width: Calc(100% - 10px);
    padding-left: 10px;
    height: auto;
    line-height: 20px;
}
.menu_contents_statusbar {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100px;
    left: 0;
}
.menu_contents_statusbar_element {
    width: 80px;
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    display: inline-block;
}
.menu_contents_statusbar_element_icon_inner {
    top: 10px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 30px;
    font-size: 20px;
}
.menu_contents_statusbar_element_icon {
    height: 60px;
    width: 60px;
    padding: 10px;
}
.menu_contents_statusbar_element_name {
    height: 20px;
    width: 80px;
    line-height: 20px;
    text-align: center;
    font-size: 13px;
}
#Server_Console{
    overflow-y: scroll;
}
.button {
    position: relative;
    display: inline-block;
    height: 40px;
    width: 200px;
    border-radius: 7.5px;
    text-align: center;
    line-height: 40px;
    color: white;
    vertical-align: top;
}
.icon {
    position: relative;
    display: inline-block;
    float: right;
    height: 40px;
    width: 40px;
    border-radius: 7.5px;
    text-align: center;
    line-height: 40px;
    color: white;
    vertical-align: top;
    font-size: 14Fpx;
}
.red {
    background-color: #E74C3C;
}
.blue {
    background-color: #3498DB;
}
.menu_contents_actionbar {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 10px;
    left: 0;
}
.menu_contents_actionbar_padding {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 40px;
    line-height: 40px;
    vertical-align: top;
}
.menu_contents_actionbar_padding_icon {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 40px;
    line-height: 40px;
    vertical-align: top;
    float: right;
}
.item_info_container {
    position: absolute;
    height: Calc(100% - 70px);
    width: 300px;
    left: Calc(50% - 150px);
    top: 10px;
}
.item_info_icon_container {
    padding-left: 75px;
    padding-right: 75px;
}
.item_info_icon {
    height: 150px;
    width: 150px;
    border-radius: 125px;
    background-color: #9affcc;
    background-size: cover;
}
.item_info_name {
    height: 40px;
    width: 300px;
    line-height: 40px;
    text-align: center;
    -webkit-appearance: none;
    border: none;
    font-size: 20px;
}
.item_info_properties {
    position: absolute;
    top: 195px;
    left: 0;
    width: 100%;
    height: auto;
}
.item_info_properties_keys {
    width: 50%;
    height: auto;
    border-right: grey 1px solid;
}
.item_info_properties_values {
    width: 50%;
    height: auto;
}
.item_info_properties_key, .item_info_properties_value {
    width: Calc(100% - 5px);
    height: 20px;
}
.item_info_properties_key {
    text-align: right;
}
.item_info_properties_value {
    text-align: left;
}
#student_and_teacher_content {
    visibility: hidden;
}