@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(/opensans) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
* {
    font-family: 'Open Sans';
}
#container {
    position: fixed;
    height: 100%;
    width: 200%;
    top: 0;
    left: 0;
}
.container_state {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
}
#container_splash {
    left: 0%;
}
#container_menu {
    left: 50%;
}
#container_general_logo {
    position: absolute;
    top: Calc(50% - 140px);
    left: Calc(50% - 100px);
}
#container_general_timeAndTemp {
    position: absolute;
    width: 200px;
    height: 80px;
    top: Calc(50% + 60px);
    left: Calc(50% - 100px);
    line-height: 80px;
    text-align: center;
    font-size: 30px;
}
#container_general_right {
    right: 0;
}
#container_general_left {
    left: 0;
}
.container_general_container {
    position: fixed;
    height: 280px;
    width: Calc(50% - 150px);
    top: Calc(50% - 140px);
}
.room_eventID {
    position: absolute;
    top: 0;
    height: 210px;
    width: 100%;
    line-height: 310px;
    font-size: 100px;
}
.room_eventInfo {
    position: absolute;
    top: 210px;
    height: 70px;
    width: 100%;
    line-height: 10px;
    font-size: 20px;
}